body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("/Content/images/Background.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
